*{
    margin: 0;
    padding: 0;
}
body{
    background-size: cover;
}
form{
    margin-top: 20%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.699);
    color: #fff;
    box-sizing: border-box;
    align-items: center;
}
@media (max-width: 480px){
  body{
    background-size: 100%;
  }
}
